<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties" />
    </bean>

    <import resource="classpath:database.xml"/>

    <bean id="lock.manager" class="com.ettrema.http.fs.SimpleLockManager" />
    
    <bean id="local.volume.type" class="org.spliffy.server.db.store.LocalVolumeInstanceType">
        <constructor-arg value="local" />
        <constructor-arg ref="sessionFactory"/>
        <constructor-arg>
            <!-- we have 2 stores for representing redundancy operation. These will be autoloaded into database (autoloading is not intended for production) -->
            <list>
                <value>target/blobs/store1</value>
                <value>target/blobs/store2</value>
            </list>
        </constructor-arg>
    </bean>
    
    
    <bean id="volume.allocator" class="org.spliffy.server.db.store.SingleVolumeInstanceAllocator"/>
        
    <bean id="blob.store" class="org.spliffy.server.db.store.FileSystemBlobStore">
        <constructor-arg value="target/blobs" />
    </bean>
    
    <!-- This is a much more robust blob store, but experimental -->
    <!--
    <bean id="blob.store" class="org.spliffy.server.db.store.HAVolumeBlobStore">
        <constructor-arg ref="volume.allocator"/>
        <constructor-arg>
            <list>
                <ref local="local.volume.type" />
            </list>
        </constructor-arg>
        <constructor-arg ref="session.manager" />
    </bean>
    -->

    <bean id="hash.store" class="org.spliffy.server.db.store.SpliffyHashStore"/>
    
    <bean id="version.number.generator" class="org.spliffy.server.db.DefaultVersionNumberGenerator"/>

    <bean id="security.manager" class="org.spliffy.server.web.SpliffySecurityManager"/>
    
    <!-- default config is to load templates from WEB-INF/templates -->
    <bean id="templater" class="org.spliffy.server.web.FreemarkerTemplater"/>

    <bean id="main.spliffy.resource.factory" class="org.spliffy.server.web.SpliffyResourceFactory">
        <!--        
        <constructor-arg ref="lock.manager"/>
        -->
        <constructor-arg ref="dao.user"/>
        <constructor-arg ref="blob.store"/>
        <constructor-arg ref="hash.store"/>
        <constructor-arg ref="version.number.generator"/>
        <constructor-arg ref="security.manager"/>
        <constructor-arg ref="templater"/>
    </bean>
    
    <bean id="sync.spliffy.resource.factory" class="org.spliffy.server.web.sync.SpliffySyncResourceFactory">
        <constructor-arg ref="hash.store" />
        <constructor-arg ref="blob.store" />
        <constructor-arg ref="security.manager" />
    </bean>
    
    <bean id="resource.factory" class="com.bradmcevoy.http.MultipleResourceFactory">
        <constructor-arg>
            <list>
                <ref local="main.spliffy.resource.factory" />
                <ref local="sync.spliffy.resource.factory" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="open.session.in.view.filter" class="org.spliffy.server.db.MiltonOpenSessionInViewFilter">
        <constructor-arg ref="session.manager"/>
    </bean>

    <bean id="milton.http.manager" class="com.bradmcevoy.http.HttpManager">
        <constructor-arg ref="resource.factory" />
        <property name="filters">
            <list>
                <ref local="open.session.in.view.filter" />
            </list>
        </property>
        <property name="buffering" value="never" />
    </bean>

    <!--
    <bean id="ftp.security.manager" class="com.ettrema.ftp.WrappingFtpSecurityManager">
        <constructor-arg ref="security.manager"/>
    </bean>
    -->

    <!-- Adapts the specified milton security manager to the FTP server -->
    <!--
    <bean id="ftp.user.manager" class="com.ettrema.ftp.UserManagerAdapter">
        <constructor-arg ref="resource.factory"/>
        <constructor-arg ref="ftp.security.manager"/>
    </bean>
    -->

    <!-- This server will provide access to the same resources available on webdav
    via FTP -->
    <!--
    <bean id="ftp.server" class="com.ettrema.ftp.MiltonFtpAdapter">
        <constructor-arg ref="resource.factory"/>
        <constructor-arg ref="ftp.user.manager"/>
    </bean>
    -->
</beans>